{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<body>
<h1>О проекте</h1>
<h3>
    *



</h3>
    <h3>
        <h3 style ="background-color:#BE834C;" ;>
            Идея: интерактивная карта маршрутов по Свердловской
            области для студентов
        </h3>
        <h3 style="background-color:#BE834C;" ;>
            ЦА: студенты вузов и колледжей, интересующиеся
            туристическими поездками или турпоходами по области в
            период до или во время каникул
        </h3>
        <h3 style="background-color:#BE834C;" ;>
            Боль: нужен сайт с актуальными, бюджетными и четко
            прописанными маршрутами для путешествий на 1-4 дня.
        </h3>

    </h3>

</body>
{% endblock %} 