{% extends 'base.html' %}
{% load static %}
{% block content %}
 <table>

    <tr>
        <th> <img src="/static/img/karta.png" align=”middle” height="540px">
            <hr>
            </th><th>
    <h1>Карта</h1><hr><br>
    <h3 style="background-color:#BE834C;" ;>
        Природа Свердловской области по-настоящему разнообразна и уникальна – в регионе насчитывается около 500 геологических, геоморфологических, ландшафтных, ботанических и гидрологических памятников природы. А обилие пихтовых лесов и чистого воздуха делает область одной из популярнейших для лечебно-рекреационного туризма.Свердловская область охватывает северную и среднюю часть Уральских гор, а также частично Западно-Сибирскую равнину. Большую часть территорий – 82% – занимают леса, как правило, хвойные и смешанные. Характерными типами леса для области являются береза, сосна, ель, кедр и осина. Интересно, что даже в районах больших городов, в частности Екатеринбурга, полоса леса занимает достаточно большое пространство – около 66%.Учитывая все климатические, географические и исторические особенности Свердловская область отличается большим количеством различных природных достопримечательностей. Здесь есть реки и озера, скалы, пещеры, карстовые образования и водопады.
    </h3><br>
    <a href="{% url 'weekends_routes_list' %}" type="button" class="b1">
        <h3> Список маршрутов выходного дня</h3>
    </a>
    <a href="{% url 'interesting_places_list' %}" type="button" class="b1">
        <h3> Список интересных мест </h3>
    </a>
</th>
     
    </tr>
  </table> 
{% endblock %} 